*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #3b409c;
}
body{
    background-image: linear-gradient(to top,hsl(237, 70%, 59%), #8062E3, #6296E3, #D462E3, #6D6291);
}
h1{
    color: #6D6291;
    text-align: center;
}
h2{
    color: #5459CB;
}
p{
    text-align: justify;
}